.video {
  position: relative;
  height: calc(100vh - 140px);
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(248, 89, 177, 0.377),
    rgba(150, 248, 240, 0.356),
    rgba(248, 204, 248, 0.527),
    rgba(248, 204, 248, 0.808)
  );
}
.bg-video {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.25;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.diff {
  background-color: rgb(248, 204, 248);
  color: rgb(65, 1, 31);
}

.word {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  /* //z-index: 1; */
}
.word span {
  display: inline-block;
  font-family: sans-serif;
  font-size: 8vw;
  font-weight: bold;
  color: rgb(252, 249, 252);
  letter-spacing: 2vw;
  text-shadow: 0 15px 25px rgba(129, 2, 80, 0.719);
  position: relative;
  transform: translateY(-100vh);
  animation: fall 3.5s forwards;
}
@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

.word span:nth-child(2) {
  animation-delay: 0.7s;
}

.word span:nth-child(2) {
  animation-delay: 1.4s;
}

.word span:nth-child(3) {
  animation-delay: 2.1s;
}

.word span:nth-child(4) {
  animation-delay: 2.8s;
}

.word span:nth-child(5) {
  animation-delay: 3.5s;
}

.word span:nth-child(6) {
  animation-delay: 4.2s;
}

.word span:nth-child(7) {
  animation-delay: 4.9s;
}

.word span:nth-child(8) {
  animation-delay: 5.6s;
}

.word span:nth-child(9) {
  animation-delay: 6.3s;
}

.word span:nth-child(10) {
  animation-delay: 7s;
}

.word span:nth-child(11) {
  animation-delay: 7.7s;
}
